*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;

    .container{
        width: 80%;
        margin:auto;
        margin-top: 30px;

        h1{
            color: white;
            margin-bottom: 40px;
        }

        ol li{
            margin-bottom: 15px;

        }

        .desc{
            margin-left: 20px;
        }
    }

    
}
