* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

body .container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

body .container h1 {
  color: white;
  margin-bottom: 40px;
}

body .container ol li {
  margin-bottom: 15px;
}

body .container .desc {
  margin-left: 20px;
}

